body {
  font-family: 'effra', sans-serif;
}

h1 {
 color: #018aa2;
 font-size: 14px;
 font-weight: 500;
 margin-bottom: 0px;
}

h2 {
 color: #444445;
 font-size: 10px;
 font-weight: 500;
 text-transform: uppercase;
 letter-spacing: .75px;
  margin-top: 5px;
   margin-bottom: 0px;
}

p {
 color: #444445;
 font-size: 10px;
 padding-bottom: 2px;
 margin-top: 0px;
 margin-bottom: 0px;
  font-weight: 400;
   letter-spacing: .5px;
}

.identifier {
 color: #018aa2;
  font-weight: 500;
}


a {
  text-decoration: none;
  color: #444445;
}

#line {
  border-bottom: .5px solid #444445;
  max-width: 75px;
}

/** version 1 **/

#v1 .logo{
  max-width: 140px;
    margin-left:-5px;
  margin-top: 15px;
  margin-bottom: 10px;
  padding-left: 2px;
}


/** version 2 **/

#v2 .logo{
  max-width: 162px;
  margin-left:-5px;
  margin-top: 20px;
  margin-bottom: 5px;
  padding-left: 5px;
}

#divider {
  border-style: solid;
  border-width: .5px;
  border-color: #dedede;
  margin-top: 20px;
  width: 160px;
}

#v2 h2 {
  padding-bottom: 10px;
}

/** version 3 **/

#v3 .logo {
  padding-left: 15px;
  max-width: 150px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-right: 15px;
  border-right: solid .65px #018aa2;
}

#v3 h2 {
  padding-bottom: 10px;
}

.social-table {
  width: 320px;
  background-color: #144852;
  margin-top: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.social-icons {
    padding-left: 20px;
}

.social {
  max-width: 25px;
  padding-right: 10px;
  margin-bottom: 10px;
}
