body {
  font-family: 'effra', sans-serif;
}

h1 {
 color: #018aa2;
 font-size: 14px;
 font-weight: 500;
 margin-bottom: 0px;
}

h2 {
 color: #444445;
 font-size: 10px;
 font-weight: 500;
 text-transform: uppercase;
 letter-spacing: .75px;
  margin-top: 5px;
   margin-bottom: 0px;
}

p {
 color: #444445;
 font-size: 10px;
 padding-bottom: 2px;
 margin-top: 0px;
 margin-bottom: 0px;
  font-weight: 400;
   letter-spacing: .5px;
}

.identifier {
 color: #018aa2;
  font-weight: 500;
}


a {
  text-decoration: none;
  color: #444445;
}

#line {
  border-bottom: .5px solid #444445;
  max-width: 75px;
}

/** version 2 **/

#v2 .logo{
  max-width: 162px;
  margin-left:-5px;
  margin-bottom: 5px;
  padding-left: 5px;
}

#divider {
  border-style: solid;
  border-width: .5px;
  border-color: #dedede;
  margin-top: 20px;
  width: 165px;
}

#v2 h2 {
  padding-bottom: 10px;
}
